body {
    background-image: url('../images/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    max-width: 130px;
    max-height: 175px;
    padding: 10px;
}

.logo2 {
    max-width: 200px;
    max-height: 275px;
    padding-bottom: 10px;
}

.blueshield {
    max-width: 350px;
    max-height: 80px;
}

.blueshield:hover {
    cursor: pointer;
}

.division {
    width: auto;
    height: 15px;
    background: linear-gradient(to bottom, #4b64db, #553cd8);
}

.text-darkblue {
    color: #0757af;
}

.input-form.form-control {
    border: 2px solid #0757af;
    border-radius: 5px;
    padding: 5px;
    background-color: #bbddf5;
    color: #0757af;
}

.input-form.form-control:focus {
    background-color: #bbddf5;
    color: #0757af;
}

.b-login.btn {
    background: linear-gradient(to bottom, #4b64db, #553cd8);
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.dash-option{
    border: 2px solid transparent;
}

.dash-option:hover {
    background-color: #bbddf5;
    border: 2px solid #0757af;
    border-radius: 5px;
    cursor: pointer;
}

#fondo {
    background-color: #9acbfd;
    border: 2px solid #0757af;
    border-radius: 5px;
}

.boton {
    background-color: #bbddf5;
    border: 2px solid #0757af;
    border-radius: 5px;
    color: #0757af
}

.boton:hover {
    background-color: #99d0f7;
}