/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17 abr 2024, 10:39:21
    Author     : Mati
*/

body {
    background-image: url('../images/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    max-width: 130px;
    max-height: 175px;
    padding: 10px;
}

.logo-login {
    max-width: 200px;
    max-height: 275px;
    padding-bottom: 10px;
}

.blueshield {
    max-width: 350px;
    max-height: 80px;
}

.division {
    width: auto;
    height: 15px;
    background: linear-gradient(to bottom, #4b64db, #553cd8);
}

.text-darkblue {
    color: #0757af;
}

.input-form.form-control {
    border: 2px solid #0757af;
    border-radius: 5px;
    padding: 5px;
    background-color: #bbddf5;
    color: #0757af;
}

.input-form.form-control:focus {
    background-color: #bbddf5;
    color: #0757af;
}

.b-login.btn {
    background: linear-gradient(to bottom, #4b64db, #553cd8);
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.dash-option{
    border: 2px solid transparent;
}

.dash-option:hover {
    background-color: #bbddf5;
    border: 2px solid #0757af;
    border-radius: 5px;
    cursor: pointer;
}